*,*::before,*::after{
    // outline: 1px solid gray;
}

body{
    font-family: "Lato", "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

code {
    font-family:"Roboto Mono",sans-serif;
    color: $success;
    font-weight: 900;
}

// .img-fluid 
// img{
//     max-width: 100%;
//     height: auto;
// }

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-bottom: 0;
}

