<aside class="nav-aside position-fixed">
    <nav class="navibar d-flex flex-column ">
        <div class="logo pl-8 mb-8"><a href="#" class="d-flex"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a></div>
        <ul class="nav-list pl-0 list-unstyled">
            <li class="nav-item pl-7 mb-7">
                <a href="#" class="d-flex">
                    <span class="material-icons mr-4">assessment</span>
                    <span>Dashboard</span>
                
                </a>
            </li>
            <li class="nav-item pl-7 mb-7">
                <a href="#" class="d-flex">
                    <span class="material-icons mr-4">question_answer</span>
                    <span>Question</span>
                </a>
            </li>
            <li class="nav-item pl-7 mb-7">
                <a href="./assignment.html"  class="d-flex" >
                    <span class="material-icons mr-4">assignment</span>
                    <span>Assignment</span>
                
                </a>
            </li>
            <li class="nav-item pl-7 mb-7">
                <a href="#" class="d-flex">
                    <span class="material-icons mr-4">video_library</span>
                    <span>Course</span>

                </a>
            </li>
            <li class="nav-item pl-7 mb-7">
                <a href="./admin.html"  class="d-flex" >
                    <span class="material-icons mr-4">people</span>
                    <span>Admin</span>
                
                </a>
            </li>
            <li class="nav-item pl-7">
                <a href="#" class="d-flex">
                    <span class="material-icons mr-4">settings</span>
                    <span>Settings</span>
                
                </a>
            </li>
        </ul>
        <div class="account d-flex align-items-center pl-8 mb-8">
            <div class="userPic mr-4 d-flex rounded-circle"></div>
            <div class="userInfo">
                <span class="mb-1 userName">Andy Chen</span>
                <a class="userMail" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
            </div>
        </div>
    </nav>
</aside>